@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #E7EEF6;
  --titulo:#061C39;
  --faixa: #0E3C7A;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", Helvetica, sans-serif;
}