@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #E7EEF6;
  --titulo:#061C39;
  --faixa: #0E3C7A;
  --faixa1: #0C316D;
  --faixa2: #185FD3;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", Helvetica, sans-serif;
  

}
html, body {
  overflow-x: hidden;
}

@layer base {
  @font-face {
    font-family: "Quantico", serif;
    src: url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap') format('quantico');
  }
  @font-face {
    font-family: "Ethnocentric";
    src: url('./assets/fonts/Ethnocentric.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}
